// Media Queries

// $breakpoints: (
//   'small':  ( min-width:  320px ),
//   'medium': ( min-width:  992px ),
//   'large':  ( min-width: 1200px ),
// );

// Menu variables

$colorWhite: rgba(255,255,255,1);
$colorDamnLight: rgba(0,220,220,1);
$colorLight: rgba(0,190,190,1);
$colorPurple: #d162ff;
$colorPurpleBg: rgba(#7809E6, .3);
$colorDark: rgba(60,60,60,1);
$colorBlack: rgba(33,33,33,1);
$fontSize: 18px;